.home {
  display: block;
  margin-top: 50px;
}

.home_showcase {
  height: 400px;
  background-image: url('../../img/homePic.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: linear-gradient(rgb(134, 108, 108), transparent);
  /* max-width: 100%; */
  width: auto;
}

.home_product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  padding: 10px;
}


