.product {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: azure;
  width: 300px;
  margin-top: 10px;

}

.product__img {
  flex: 1;
  max-height: 200px;
  padding: 5px;
  /* width: 100%;
  object-fit: contain;
  margin-bottom: 10px; */
}

.product__img:hover{
  transform:  scale(1.5);
  transition: 0.5s;
}

.product__info {
  width: 100%;
  flex: 1;
  /* border: 1px solid black; */

}

.product__title{
  padding: 5px;
}

.product > button {
  background: #f0c14b;
  /* border: 1px solid black; */
  margin-top: 10px;
  border-color: wheat;
  color: #111;
}

.product__price {
  margin-top: 5px;
}



.product__rating {
  display: flex;
}
